docs/internal
docs/internal/

artifacts/
publish/
packages/

.vs/
.vscode/
.idea/

bin/
obj/
**/bin/
**/obj/

TestResults/
*.trx
*.coverage
*.coveragexml

*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates

*.env
**/*.env

*.nupkg
*.snupkg
